.textbox{
    display: flex;
    margin: 5px;
    background-color: white;
}

.textbox-child{
    margin: 5px;
    color: #8dc63f;
    padding: 5px;
    font-size: 20px;
}

.text{
    border: none;
    background-color: white;
    color: black;
}
input::placeholder{
    color: black;
    font-family: 'Noto Sans', sans-serif;
}
input:focus::placeholder{
    color: transparent;
}