.number-picker {
    display: flex;
    margin: 5px;
    background-color: white;
}

.picker{
    border: none;
    color: black;
    width: 27vh;
}
.picker-child{
    margin: 5px;
    color: #8dc63f;
    font-size: 20px;
    padding: 5px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    font-style: italic;
    opacity: 1; /* Firefox */
}
input:focus::placeholder{
    color: transparent;
}